img {
  width: 490px;
  height: 490px;
  margin-left: 100px;
  margin-top: 90px;
}

h5 {
  color: #37517e;
  font-weight: bold;
}

h3 {
  color: #37517e;
  font-weight: bold;
}
header {
  background-color: #37517e;
}
